[submodule "image-resizer-front"]
	path = image-resizer-front
	url = https://github.com/marciobbj/image-resizer-front.git
[submodule "image-resizer-api"]
	path = image-resizer-api
	url = https://github.com/marciobbj/image-resizer-api.git
